* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: $white;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
}

.section {
  z-index: 2;
  position: relative;
}

.block-bottom {
  height: 100%;
  // margin-left: 10px;
  padding: 28px 16px 16px;
  background: url("/src/assets/img/gradient-1.jpg") no-repeat 0% 0%;
  background-size: cover;
  border-radius: 25px;

  &-inner {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  &-pic {
    width: 15%;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;

    @media (max-width: 575px) {
      width: 30%;
      margin-right: 0;
    }
  }

  &-texts {
    width: 85%;
    padding-left: 20px;

    @media (max-width: 575px) {
      width: 100%;
      padding-top: 16px;
      padding-left: 0;
    }
  }

  &-text-block {
    &:first-child {
      padding-bottom: 12px;
    }

    &-title {
      padding-bottom: 4px;
      font-size: 15px;
      font-weight: 700;
    }

    &-desc {
      font-size: 13px;
      color: rgba($white, 0.75);
    }
  }
}

.pic-humidity {
  background-image: url("/src/assets/img/humidity.png");
}

.pic-coords {
  background-image: url("/src/assets/img/compass.png");
}
.pic-wind{
  background-image: url("/src/assets/img/wind.png");
}
.pic-cloudy{
  background-image: url("/src/assets/img/cloud.svg");
}
.pic-pressure{
  background-image: url("/src/assets/img/pressure.png");
}

:root {
  
  //main button
  --button-background: #f0f0f0;
  --button-text: #333;
  --button-hover-background: #e0e0e0;
  --button-hover-text: #111;

  //light
  --background-color-light: #fff;
  --text-color-light: #333;
  --button-background-light: #f0f0f0;
  --button-text-light: #333;
  --button-hover-background-light: #e0e0e0;
  --button-hover-text-light: #111;
  
  //dark
  --background-color-dark: #121212;
  --text-color-dark: #f1f1f1;
  --button-background-dark: #555;
  --button-text-dark: #fff;
  --button-hover-background-dark: #666;
  --button-hover-text-dark: #ddd;

  //adaptive
  --background-color-adaptive: #8a4242;
  --text-color-adaptive: #912b2b;
  --button-background-adaptive: #b83333;
  --button-text-adaptive: #cf2828;
  --button-hover-background-adaptive: #e95555;
  --button-hover-text-adaptive: #b93c3c;

}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --button-hover-background: var(--button-hover-background-light);
  --button-hover-text: var(--button-hover-text-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --button-hover-background: var(--button-hover-background-dark);
  --button-hover-text: var(--button-hover-text-dark);
}

[data-theme="adaptive"] {
  --background-color: var(--background-color-adaptive);
  --text-color: var(--text-color-adaptive);
  --button-hover-background: var(--button-hover-background-adaptive);
  --button-hover-text: var(--button-hover-text-adaptive);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; //background transition
}